<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lenovo.mall_backend.mapper.UserMapper">
    <select id="count" resultType="java.lang.Long">
        select count(*) from users
        <where>
            <if test="username != null">
                username like concat('%',#{username},'%')
            </if>
        </where>
    </select>

    <select id="list" resultType="com.lenovo.mall_backend.entity.User">
        select * from users
        <where>
            <if test="username != null">
                username like concat('%',#{username},'%')
            </if>
        </where>
        limit #{start},#{pageSize}
    </select>
</mapper>